{% load static socialaccount %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'css/allauth.css'%}" rel="stylesheet">

    <title>signin!</title>
  </head>
  <body>
    {% if request.user.is_authenticated %}
    <h1>{{ request.user.get_full_name }}</h1>
      <a href="{% url 'account_logout' %}" type="button" class="btn btn-primary">Log out</a>
    {% else %}
    <form class="form-signin" method="post" action="{% url 'account_signup' %}">{% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal text-center">SIGN UP WITH</h1>
      <div class="row social">
        <div class="col-5 text-center">
          <a href='{% provider_login_url "facebook" %}'>
          <img src="{% static 'img/facebook-2.svg' %}" class="img-fluid">
          <span class="text-uppercase">facebook</span>
          </a>
        </div>
        <div class="col-2 text-center">/</div>
        <div class="col-5 text-center">
          <a href='{% provider_login_url "google" %}'>
          <img src="{% static 'img/new-google-favicon-512.png' %}" class="img-fluid">
          <span class="text-uppercase">google</span>
          </a>
        </div>
      </div>
      <div class="text-divider"><span>or</span></div>
      <div class="form-group">
        <input type="text" name="first_name" class="form-control" placeholder="&#xf2bd; First Name" required="">
      </div>
      <div class="form-group">
        <input type="text" name="last_name" class="form-control" placeholder="&#xf2bd; Last Name" required="">
      </div>
      <div class="form-group">
        <input type="email" name="username" class="form-control" placeholder="&#xf0e0; Email" required="">
      </div>
      <div class="form-group">
        <input type="password" name="password1" class="form-control" placeholder="&#xf023; Password" required="">
      </div>
      <div class="form-group">
        <input type="password" name="password2" class="form-control" placeholder="&#xf023; Confirm Password" required="">
      </div>
      <div class="checkbox mb-3">
        {{ form.subscription }} I'd like to receive PlacePass news and offers
      </div>
      <p class="text-muted">
        By signin up, I agree to the PlacePass <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
      </p>
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-lg btn-success btn-block text-uppercase p-4" type="submit">register</button>
      <div class="row d-flex justify-content-between">
        <div class="col">Already have an account?</div>
        <div class="col">
          <a class="btn btn-outline-info text-uppercase" href="{% url 'account_login' %}">log in</a>
        </div>
      </div>
    </form>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/7c8a6a4713.js"></script>
  </body>
</html>